*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    background: #222;
  
}

.header{
    width:100%;
    height: 50px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
  
}

h1{
    margin:0 20px;
    color: white;
}
a{
    text-decoration: none;
}

#form{
     display: flex;
    align-items:center;
} 
.search{
    border-radius: 20px;
    width: 230px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    padding: 15px;
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main div{
    width: 250px;
    height: 400px;
    margin: 19px 15px;
    
    background: red;
    background-size: cover;
}
img{
    width: 100%;
    height: 89%;
    object-fit: cover;
}
h2{
    font-size:0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
